
body {
  background: rgba(145,137,135,0.9);
  background: linear-gradient(to bottom, rgba(145,137,135,0.9) 0%, rgba(145,137,135,0.9) 60%, rgba(255,255,255,1) 100%);
  height: 2em;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #000;
  width: 100%;
 }
