
html {
  max-height: 100%;
  max-width: 100%
  overflow: scroll;
  overflow-x: hidden;
}

body {
  background: rgba(145,137,135,0.9);
  background: linear-gradient(to bottom, rgba(145,137,135,0.9) 0%, rgba(145,137,135,0.9) 60%, rgba(255,255,255,1) 100%);
  height: 2em;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #000;
  width: 100%;
 }

h1 {
  font-family: 'Rye', cursive;
  background: rgba(105,110,106,0.4);
  background: linear-gradient(to bottom, rgba(188,198,204,0.9) 0%, rgba(145,137,135,0.9) 20%, rgba(255,255,255,0.5) 100%);
  color: #FCFBE3;
  position: relative;
  margin-top: 0.3em;
  text-align: center;
  font-size: 4em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.nicknames {
  font-family: 'Yesteryear', cursive;
  position: relative;
  text-align: center;
  padding-top: 1em;
  background-color: #E8E8E8
  color: #333333;
  font-size: 2em;

}

.middle {
  font-family: 'Rye', cursive;
  display: inline-block;
  transform: rotate(-15deg);
  transform: skewY(-15deg);
  font-size: 0.6em;
  text-decoration: underline;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

.main-pic {
  width: 16em;
  height: 18em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0, 0, 0, 0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background: rgba(105,110,106,0.9);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 3vw;
}

.sidenav a {
  padding: 10px 8px 8px 32px;
  text-decoration: none;
  font-size: 28px;
  color: #FCFBE3;
  display: block;
  transition: 0.3s;
  line-height: 1.5em;
}

.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.hamburger {
  margin-left: 0.5em;
  font-size: 3.3vw;
  cursor: pointer;
  color: #000;
  position: absolute;
  top: 0.8em;
  right: 0.8em;
  display: none;
}

.social-media {
  text-align: center;
  font-size: 1.7em;
  padding-top: 2em;
}

.fa-linkedin-square {
  color: #8EA9B9;
}

.fa-github {
  color: #8EA9B9;
}

footer {
  text-align: center;
  padding-top: 0.4em;
  color: #32373B;
  font-size: 0.8em;
}

@media (min-width: 300px) {
  .hamburger {display: inline-block;}
  .sidenav {display: inline-block;}
}

@media (min-width: 768px) {
  .hamburger {display: none;}
  .sidenav {display: inline-block;}
}
