
html {
  max-height: 100%;
  max-width: 100%;
  overflow: scroll;
}

body {
  /*background: rgba(3,0,0,0.9);
  background: linear-gradient(to bottom, rgba(3,0,0,0.9) 0%, rgba(3,0,0,0.9) 40%, rgba(188,198,204,1) 100%);*/
  background-size: cover;
  background: #000;
 }

h1 {
  font-family: 'Rye', cursive;
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  font-size: 40px;
  width: 100%;
  height: 26px;
  padding: 0;
  margin: 0;
  margin-top: -13px;
  text-align: center;
  color: #FFF;
}

.background img {
  width: 100%;
  height: 100%;
  filter: contrast(60%);
  filter: opacity(40%);
  position: relative;
}

.nicknames {
  font-family: 'Yesteryear', cursive;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  font-size: 19px;
  width: 100%;
  height: 26px;
  padding: 0;
  margin: 0;
  margin-top: -13px;
  text-align: center;
  color: #FFF;
}

.middle {
  font-family: 'Rye', cursive;
  display: inline-block;
  transform: rotate(-15deg);
  transform: skewY(-15deg);
  font-size: 0.5em;
  text-decoration: underline;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

ul {
  width:100%;
  background-color: #FFF;
  background: linear-gradient(#FFF 0%, #bbbbbb 100%);
  box-shadow: 0px 0px 1em rgba(0,0,0,0.15);
  padding: 1em;
  border: 0.1em solid black;
  display: inline-block;
}

li {
  width: 20%;
  border-right: 1px solid #eeee;
  display: inline-block;
}

li:last-child {
  border-right:none;
}

li a {
  display: inline-block;
  width: 80%;
  background: #ddd;
  padding: 4% 10%;
  font-size: 1.1em;
  text-decoration: none;
  text-align: center;
}

@media screen (max-width: 767px) {
  #menu {
    width:1.4em;
    display: block;
    background:#ddd;
    font-size:1.35em;
    text-align: center;
  }

  #nav.js {
    display: none;
  }

  li {
    width:100%;
    border-right:none;
    text-align: center;
  }
}

nav {
  position: absolute;
  top: 0;
  right: 23.2em;
  width: 40%;
  text-align: center;
}

nav ul li:hover > ul {
	display: block;
}

nav ul {
  position: relative;
	padding: 0 0 0 0;
  border: 1px solid black;
  margin-top: 0.7em;
  text-align: center;
  border-top-left-radius:28vw;
  border-bottom-left-radius:28vw;
  border-top-right-radius:28vw;
  border-bottom-right-radius:28vw;
}

nav ul:after {
	content: ""; clear: both; display: block;
}

nav ul li:hover {
  color:inherit;
	background: #000;
	background: linear-gradient(#000 0%, #BCC6CC 100%);
  border-top-left-radius:28vw;
  border-bottom-left-radius:28vw;
  border-top-right-radius:28vw;
  border-bottom-right-radius:28vw;
}

nav ul li:hover a {
  background-color: inherit;
  color: #FFF;
  text-align: center;
}

nav ul li a {
  background-color: inherit;
	display: block;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
	color: #000;
  text-decoration: none;
}

@media (min-width: 767px) {
  #menu {
    display: none;
  }

#about_me {
  color: #FFF;
  font-size: 3vw;
  font-family: 'PT Sans', sans-serif;
  padding-top: 5em;
  padding-bottom: 1em;
  padding-left: 1em;
  margin-left: 4.9em;
}

p {
  text-indent: 3rem;
  color: #FFF;
  margin-right: 40em;
  margin-left: 5em;
  line-height: 1.8em;
  font-size: 1.1em;
}

#me {
  position: absolute;
  top: 55.5em;
  right: 15em;
  height: 80%;
}

.project {
  color: #FFF;
  font-size: 3vw;
  font-family: 'PT Sans', sans-serif;
  padding-top: 10em;
  padding-left: 1em;
  margin-left: 4.9em;
}

#projects {
  color: #FFF;
  text-align: left;
  margin-left: 5em;
  padding-top: 5em;
}

#projects img {
  width: 50%;
  border: 0.1em solid black;
}

#social-media {
  text-align: right;
  font-size: 1.5em;
  padding-right: 2em;
  position: absolute;
  right: 22.7em;
  padding-bottom: 1em;
  top: 15em;
}

.fa-linkedin-square {
  color: #FFF;
}

.fa-github {
  color: #FFF;
}

.fa-instagram {
  color: #FFF;
}

.footer {
  color: #FFF;
  position: absolute;
  display: inline-block;
  text-align: center;
  padding-top: 0.5em;
  font-size: 1.2vw;
  padding-top: 10em;
  float:right;
}
