
html {
  max-height: 100%;
  max-width: 100%;
  overflow: scroll;
}

body {
  background: rgba(145,137,135,0.9);
  background: linear-gradient(to bottom, rgba(145,137,135,0.9) 0%, rgba(145,137,135,0.9) 60%, rgba(255,255,255,1) 100%);
  height: 2em;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #000;
 }

h1 {
  font-family: 'Rye', cursive;
  background: rgba(105,110,106,0.4);
  background: linear-gradient(to bottom, rgba(188,198,204,0.9) 0%, rgba(145,137,135,0.9) 20%, rgba(255,255,255,0.5) 100%);
  color: #FCFBE3;
  position: relative;
  margin-top: 1.1em;
  text-align: center;
  font-size: 4.9vw;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.background {
  text-align: center;
}

.background img {
  width: 50%;
  border: 0.2em solid black;
}

.nicknames {
  font-family: 'Yesteryear', cursive;
  position: relative;
  text-align: center;
  padding-top: 1em;
  background-color: #E8E8E8
  color: #333;
  font-size: 3vw;
}

.middle {
  font-family: 'Rye', cursive;
  display: inline-block;
  transform: rotate(-15deg);
  transform: skewY(-15deg);
  font-size: 0.6em;
  text-decoration: underline;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
}

ul {
  width:100%;
  background-color: #FFF;
  background: linear-gradient(#FFF 0%, #bbbbbb 100%);
  box-shadow: 0px 0px 1em rgba(0,0,0,0.15);
  padding: 1em;
  /*border-radius: 4em;*/
  border: 0.1em solid black;
  display: inline-block;
}

li {
  width: 20%;
  border-right: 1px solid #eeee;
  display: inline-block;
}

li:last-child {
  border-right:none;
}

li a {
  display: inline-block;
  width: 80%;
  background: #ddd;
  padding: 4% 10%;
  font-size: 1.1em;
  text-decoration: none;
  text-align: center;
}

@media screen (max-width: 767px) {
  #menu {
    width:1.4em;
    display: block;
    background:#ddd;
    font-size:1.35em;
    text-align: center;
  }

  #nav.js {
    display: none;
  }

  li {
    width:100%;
    border-right:none;
    text-align: center;
  }
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
}

nav ul li:hover > ul {
	display: block;
}

nav ul {
	/*background: linear-gradient(#FFF 0%, #bbbbbb 100%);*/
	/*box-shadow: 0px 0px 9px rgba(0,0,0,0.15);*/
  position: relative;
	padding: 0 0 0 0;
  border: 1px solid black;
  margin-top: 0.7em;
  text-align: center;
}

nav ul:after {
	content: ""; clear: both; display: block;
}

nav ul li:hover {
  color:inherit;
	background: #696E6A;
	background: linear-gradient(#696E6A 0%, #918987 40%);
  /*border-top-left-radius:28vw;
  border-bottom-left-radius:28vw;
  border-top-right-radius:28vw;
  border-bottom-right-radius:28vw;*/
}

nav ul li:hover a {
  background-color: inherit;
  color: #FFF;
  text-align: center;
}

nav ul li a {
  background-color: inherit;
	display: block;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
	color: #000;
  text-decoration: none;
}

@media (min-width: 767px) {
  #menu {
    display: none;
  }

  #about_me {
    font-size: 3.9vw;
    font-family: 'PT Sans', sans-serif;
    padding-top: 5em;
    padding-bottom: 1em;
    padding-left: 1em;
  }

#articles {
  text-align: center;
}

#articles img {
  width: 50%;
  border: 0.1em solid black;
}

/*#myProjects {
  font-size: 3.9vw;
  font-family: 'PT Sans', sans-serif;
  padding-top: 5em;
  padding-bottom: 1em;
  padding-left: 1em;
}*/

/*.par img {
  width: 35vw;
  padding-left: 2vw;
}*/


.social-media {
  text-align: center;
  font-size: 1.7em;
  padding-top: 2em;
}

.fa-linkedin-square {
  color: #8EA9B9;
}

.fa-github {
  color: #8EA9B9;
}

.footer {
  position: absolute;
  text-align: center;
  padding-top: 0.5em;
  font-size: 1.2vw;
  margin-left: 33.5em;
}
